DATABASE_URL=enter-your-production-database-url-here
DATABASE_URL_DEVELOPMENT=postgres://rlzlhwhc:vL-cEyePPDJimXiKUmQTN9495gokAd7D@kashin.db.elephantsql.com/rlzlhwhc
DATABASE_URL_TEST=enter-your-test-database-url-here
DATABASE_URL_PREVIEW=enter-your-preview-database-url-here
LOG_LEVEL=info
